/* We're having fun with flex boxes */

body {
  background-color: #1f2937;
	font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
	color: #f9faf8;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	margin: auto;
}

h1 {
	font-size: 38px;
	font-weight: 900;
	margin: 10px;
}

footer {
	display: flex;
	flex-direction: row;
	padding: 25px;
	justify-content: center;
	align-items: center;
}

footer a {
	color: white;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

.awesome-section {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding: 120px;
	margin: auto;
}

.left-text {
	max-width: 450px;
	padding: 25px;
}

.left-text > p {
	color: #e5e7eb;
	font-size: 18px;
	margin: 30px 10px;
}

.info-section {
	background-color: white;
	color: #1f2937;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	gap: 80px;
	padding: 80px;
}

.mini-container {
	display: flex;
	flex-flow: row wrap;
	gap: 50px;
}

.img-container {
	display: flex;
	flex-flow: column nowrap;
	max-width: 210px;
	font-size: 18px;
	text-align: center;
}

.info-pics {
	width: 180px;
	height: 180px;
	background-color: white;
	border-radius: 18px;
	border: 4px #912b2d solid;
	padding: 10px;
}

.quote-section {
	background-image: url(img/bg.jpg);
	background-color: transparent;
	padding: 150px;
}

.textbox {
	display: flex;
	flex-flow: column nowrap;
	max-width: 1000px;
	color: #white;
	margin: auto;
}

.quote {
	font-size: 32px;
	font-style: italic;
	font-weight: 100;
}

.credit {
	text-align: right;
	font-weight: bold;
	font-size: 24px;
}

.action {
	background-color: white;
	padding: 50px;
}

.redbox {
	background-color: #912b2d;
	border-radius: 10px;
	max-width: 1200px;
	padding: 40px 0px;
	margin: 50px auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

#sell {
		background-color: #912b2d;
		color: white;
		font-weight: bold;
		padding: 10px 20px;
		margin: 10px;
		border-radius: 10px;
		border-style: none;
}

.textbox2 > * {
	margin: 0;
}

#sell2 {
	background-color: #912b2d;
	color: white;
	font-weight: bold;
	padding: 10px 50px;
	margin: 10px;
	border-radius: 10px;
	border: 2px white solid;
}

ul {
	display: flex;
	font-weight: normal;
	gap: 30px;
	list-style: none;t
	margin: 0;
	padding: 0;
}

.links a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#github img{
    height: 23px;
    width: 23px;
	margin-right: 10px;
}

#github img:hover {
    transform: scale(1.3);
}