/* We're having fun with flex boxes */

body {
  background-color: peachpuff;
}

div.outer {
  display:flex;
  border: 2px solid red;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  padding: 10px;
}

div.top-outer, div.bottom-outer {
  display: flex;
  border: 2px solid green;
  background-color: teal;
  flex: 1 1 auto;
  width: 40%;
  height: 400px;
}
